html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.header{
  border-top: 10px solid #007bff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leftSideHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo{
  margin:1em 1em 1em 3em ;
}

#volunteer-headline{
  font-family: 'Permanent Marker', cursive;
  margin:1em;
  font-size: 25px;
  color: #225575;
}

.login-button {
  margin:1em 3em 1em 1em ;
  color: #007bff;
  background-color: white;
  border: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: bold;
}

#sort-by {
  color: gray;
  /* padding: -.25em 0em; */
}

.feed-container{
  margin:1em 3em 1em 3em ;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.item-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: .25px solid gray;
}

.feed-item-container {
  border: 1px solid red;
  height: 20px;
}