html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.header{
  border-top: 10px solid #007bff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leftSideHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo{
  margin:1em 1em 1em 3em ;
}

#volunteer-headline{
  font-family: 'Permanent Marker', cursive;
  margin:1em;
  font-size: 25px;
  color: #225575;
}

.button {
  margin:1em 3em 1em 0em ;
  color: #007bff;
  background-color: white;
  border: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: bold;
}

.hero-container {
  margin:1em 3em 1em 3em ;
  display: flex;
  flex-direction: column;
}

.feed-management{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
}

.sort-by {
  color: gray;
  /* padding: -.25em 0em; */
}

.feed-container{
  /* margin:1em 3em 1em 3em ; */
  display: flex;
  flex-direction: column;
}

.item-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: .25px solid gray;
}

.lineItemContainer {
  margin: 0em;
  padding:1em 0em 1em 0em;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.lineItemContainer > p {
  flex-basis: 20%;
  text-align: center;
  font-size: 12px;
}

.lineItemContainer > a {
  flex-basis: 20%;
  text-align: center;
  font-size: 12px;
}

.lineItemContainer:nth-child(2n) {
  background: rgb(219, 219, 219);
  padding:1em 0em 1em 0em;
}



/* COMMENTING MODAL */

.modal-container {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.3); 
}

.modal-content {
  background-color: #ffffff;
  margin: 15% auto; 
  padding:2em;
  border: 1px solid #888888;
  width: 80%;
}

.close-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0em 0em -3em 0em;
}

.close-button-container > img {
  width: 30px;
  height: 30px;
}

.close-modal:hover,
.close-modal:focus {
  cursor: pointer;
}

.comment-input-container > input {
  width: 75%;
}