html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.header{
  border-top: 10px solid #007bff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leftSideHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo{
  margin:1em 1em 1em 3em ;
}

#volunteer-headline{
  font-family: 'Permanent Marker', cursive;
  margin:1em;
  font-size: 25px;
  color: #225575;
}

.button {
  margin:1em 3em 1em 0em ;
  color: #007bff;
  background-color: white;
  border: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: bold;
}

.feed-management{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
}

#sort-by {
  color: gray;
  /* padding: -.25em 0em; */
}

.feed-container{
  margin:1em 3em 1em 3em ;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.item-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: .25px solid gray;
}

.feed-item-container {
  border: 1px solid red;
  height: 20px;
}


/* COMMENTING MODAL */

/* The Modal (background) */
.modal-container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
